.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (width >= 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (width >= 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (width >= 1200px) {
  .container {
    width: 1200px;
  }
}

.clients-list, .team-item-social, .team-list, .examples-list, .advantages-list {
  align-items: center;
  display: flex;
}

.footer-link, .team-item-link {
  color: #afb1b8;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;
  transition-property: background-color;
  transition-duration: .25s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  display: flex;
}

.footer-link:hover, .team-item-link:hover, .footer-link:focus, .team-item-link:focus {
  color: #fff;
  background-color: #2196f3;
}

.button {
  color: #fff;
  text-align: center;
  letter-spacing: .96px;
  background-color: #2196f3;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  display: inline-block;
  box-shadow: 0 4px 4px #00000026;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

body {
  text-align: center;
  background-color: #fff;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

body.modal-open {
  overflow: hidden;
}

main {
  color: #212121;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.paddings {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (width <= 767px) {
  .paddings {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.header {
  margin-top: 24px;
  margin-bottom: 32px;
}

.header.portfolio {
  margin-bottom: 93px;
}

@media screen and (width <= 767px) {
  .header.portfolio:after {
    content: "";
    background-color: #ececec;
    border-radius: 1px;
    width: 100%;
    height: 1px;
    display: inline-block;
    position: absolute;
    top: 144%;
    left: 0;
  }
}

@media screen and (width >= 768px) and (width <= 1199px) {
  .header.portfolio:after {
    content: "";
    background-color: #ececec;
    border-radius: 1px;
    width: 100%;
    height: 1px;
    display: inline-block;
    position: absolute;
    top: 18%;
    left: 0;
  }
}

@media screen and (width >= 1200px) {
  .header.portfolio:after {
    content: "";
    background-color: #ececec;
    border-radius: 1px;
    width: 100%;
    height: 1px;
    display: inline-block;
    position: absolute;
    top: 17%;
    left: 0;
  }
}

@media screen and (width <= 767px) {
  .header {
    text-align: center;
    position: relative;
  }

  .header-navigation {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
}

@media screen and (width >= 768px) {
  .header-navigation {
    letter-spacing: .28px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    display: flex;
  }
}

.header-logo {
  letter-spacing: .78px;
  font-size: 26px;
  font-weight: 700;
}

@media screen and (width <= 1199px) {
  .header-logo {
    font-size: 24px;
  }
}

.logo-accent {
  color: #2196f3;
}

.logo-black {
  color: #000;
}

@media screen and (width <= 767px) {
  .menu-container {
    z-index: 10;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 393px;
    padding-top: 80px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .menu-container.is-open {
    display: block;
  }

  .menu-container:before {
    content: "";
    background-color: #ececec;
    border-radius: 1px;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 95%;
    left: 0;
  }
}

@media screen and (width >= 768px) {
  .menu-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
}

@media screen and (width >= 1200px) {
  .menu-container {
    min-width: 932px;
  }
}

@media screen and (width <= 767px) {
  .header-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    display: inline-flex;
  }
}

@media screen and (width >= 768px) {
  .header-links {
    align-items: center;
    display: flex;
  }
}

@media screen and (width >= 768px) and (width <= 1199pc) {
  .header-links {
    margin-right: 81px;
  }
}

@media screen and (width <= 767px) {
  .header-links .link-item + .link-item {
    margin-left: 0;
  }
}

@media screen and (width >= 768px) {
  .header-links .link-item + .link-item {
    margin-left: 50px;
  }
}

.link-item {
  position: relative;
}

@media screen and (width <= 767px) {
  .link-item {
    margin-bottom: 40px;
  }
}

.link {
  color: #212121;
}

@media screen and (width <= 767px) {
  .link:after {
    content: "";
    background-color: #2196f3;
    border-radius: 3px;
    width: 100%;
    height: 5px;
    transition: transform .25s cubic-bezier(.4, 0, .2, 1);
    position: absolute;
    bottom: -55%;
    left: 0;
    transform: scaleX(0);
  }
}

@media screen and (width >= 768px) {
  .link:after {
    content: "";
    background-color: #2196f3;
    border-radius: 3px;
    width: 100%;
    height: 5px;
    transition: transform .25s cubic-bezier(.4, 0, .2, 1);
    position: absolute;
    bottom: -220%;
    left: 0;
    transform: scaleX(0);
  }
}

.link:hover, .link:focus {
  color: #2196f3;
}

.link:hover:after, .link:hover:after, .link:focus:after, .link:focus:after {
  transform: scaleX(1);
}

.link-option {
  color: #757575;
  align-items: center;
  display: flex;
}

.link-option:hover, .link-option:focus {
  color: #2196f3;
}

@media screen and (width <= 767px) {
  .contact-link {
    margin-bottom: 16px;
  }
}

.contact-link-img {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (width <= 767px) {
  .header-contacts {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
    display: flex;
  }
}

@media screen and (width >= 768px) and (width <= 1199px) {
  .header-contacts {
    flex-direction: column;
    display: flex;
  }
}

@media screen and (width >= 1200px) {
  .header-contacts {
    display: flex;
  }
}

@media screen and (width <= 767px) {
  .header-contacts .contact-link + .contact-link {
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media screen and (width >= 768px) and (width <= 1199px) {
  .header-contacts .contact-link + .contact-link {
    margin-top: 10px;
  }
}

@media screen and (width >= 1200px) {
  .header-contacts .contact-link + .contact-link {
    margin-left: 30px;
  }
}

@media screen and (width <= 767px) {
  .menu-button {
    background-color: #0000;
    border: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  .menu-button .icon-cross {
    display: none;
  }

  .menu-button.is-open .icon-cross {
    display: block;
  }

  .menu-button.is-open .icon-burger {
    display: none;
  }
}

@media screen and (width >= 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover, .menu-button:focus {
  color: #2196f3;
}

.icon-btn:hover {
  fill: currentColor;
}

.hero {
  background-color: #2f303acc;
  background-image: linear-gradient(to right, #2f303acc, #2f303acc), url("hero-img.014ac5d3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

@media screen and (width >= 768px) and (width <= 1199px) {
  .hero {
    margin-bottom: 60px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (resolution >= 192dpi), screen and (resolution >= 2dppx) {
  .hero {
    background-image: linear-gradient(to right, #2f303acc, #2f303acc), url("header_img@2x.810b4c58.jpg");
  }
}

@media screen and (width >= 468px) {
  .hero {
    background-image: linear-gradient(to right, #2f303acc, #2f303acc), url("header_img.c6c8b171.jpg");
    max-width: 960px;
    height: 400px;
  }
}

@media screen and (width >= 468px) and (min-device-pixel-ratio: 2), screen and (width >= 468px) and (resolution >= 192dpi), screen and (width >= 468px) and (resolution >= 2dppx) {
  .hero {
    background-image: linear-gradient(to right, #2f303acc, #2f303acc), url("header_img@2x.00cdc556.jpg");
  }
}

@media screen and (width >= 1200px) {
  .hero {
    background-image: linear-gradient(to right, #2f303acc, #2f303acc), url("header_img.fcb74f1f.jpg");
    max-width: 1600px;
    height: 600px;
  }
}

@media screen and (width >= 1200px) and (min-device-pixel-ratio: 2), screen and (width >= 1200px) and (resolution >= 192dpi), screen and (width >= 1200px) and (resolution >= 2dppx) {
  .hero {
    background-image: linear-gradient(s to right, #2f303acc, #2f303acc), url("header_img@2x.35d2c9bd.jpg");
  }
}

.hero > h1 {
  color: #fff;
  text-align: center;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
}

@media screen and (width <= 1199px) {
  .hero > h1 {
    font-size: 24px;
  }
}

.advantages > h2 {
  margin-top: 0;
}

.advantages-list {
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (width <= 767px) {
  .advantages-list .advantages-item + .advantages-item {
    margin-top: 30px;
    margin-left: 0;
  }
}

@media screen and (width >= 1200px) {
  .advantages-list .advantages-item + .advantages-item {
    margin-left: 30px;
  }
}

@media screen and (width <= 767px) {
  .advantages-list {
    display: block;
  }
}

@media screen and (width <= 1199px) {
  .advantages-list {
    flex-wrap: wrap;
  }
}

.details {
  text-align: left;
}

.advantages-item {
  min-width: 270px;
}

@media screen and (width >= 768px) and (width <= 1199px) {
  .advantages-item {
    width: calc(50% - 30px);
    margin-left: 0;
    margin-right: 30px;
  }

  .advantages-item:nth-child(2n) {
    margin-right: 0;
  }
}

.advantages-item-img {
  background: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 120px;
  margin-bottom: 30px;
  display: flex;
}

.advantages-header {
  letter-spacing: .42px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
}

@media screen and (width <= 767px) {
  .advantages-header {
    text-align: center;
  }
}

@media screen and (width >= 768px) and (width <= 1199px) {
  .advantages-header {
    text-align: left;
  }
}

.advantages-description {
  color: #757575;
  letter-spacing: .42px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.71;
}

.marg {
  margin-bottom: 0;
}

.examples {
  padding-bottom: 94px;
}

@media screen and (width >= 350px) and (width <= 1199px) {
  .examples {
    display: none;
  }
}

.examples-header {
  text-align: center;
  letter-spacing: 1.08px;
  margin-top: 0;
  font-size: 36px;
  font-weight: 700;
}

.examples-list {
  align-items: baseline;
}

.examples-item {
  margin-left: 30px;
  position: relative;
}

.examples-item:before {
  content: "";
  background-color: #2f303acc;
  width: 100%;
  height: 20%;
  position: absolute;
  top: 79%;
  left: 0;
}

.examples-item-descr {
  color: #fff;
  text-align: center;
  letter-spacing: .42px;
  text-transform: uppercase;
  width: 100%;
  height: 10%;
  margin: 0;
  font-weight: 700;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.team {
  background-color: #f5f4fa;
}

.team-header {
  text-align: center;
  letter-spacing: 1.08px;
  margin-top: 0;
  font-size: 36px;
  font-weight: 700;
}

.team-list {
  flex-wrap: wrap;
  align-items: baseline;
}

@media screen and (width <= 767px) {
  .team-list {
    display: block;
  }
}

@media screen and (width >= 768px) and (width <= 1199px) {
  .team-list {
    row-gap: 10px;
  }
}

.team-list .team-item + .team-item {
  margin-left: 30px;
}

@media screen and (width <= 767px) {
  .team-list .team-item + .team-item {
    margin-top: 30px;
  }
}

@media screen and (width <= 1199px) {
  .team-list .team-item + .team-item {
    margin-left: 0;
  }
}

.team-item {
  text-align: center;
  background: #fff;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  box-shadow: 0 2px 1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}

@media screen and (width >= 768px) and (width <= 1199px) {
  .team-item {
    width: calc(50% - 30px);
    margin-right: 30px;
  }

  .team-item:nth-child(2n) {
    margin-right: 0;
  }
}

.team-item-social {
  justify-content: center;
  margin-bottom: 24px;
}

.team-member {
  letter-spacing: .48px;
  font-size: 16px;
  font-weight: 500;
}

.member-position {
  color: #757575;
  letter-spacing: .48px;
  font-size: 16px;
  font-weight: 400;
}

.link-img {
  fill: currentColor;
}

.team-item-option.team-item-link:last-child {
  margin-right: 0;
}

@media screen and (width <= 767px) {
  .team-item-option {
    margin-bottom: 24px;
  }
}

.clients {
  text-align: center;
}

.clients-header {
  letter-spacing: 1.08px;
  margin-top: 0;
  font-size: 36px;
  font-weight: 700;
}

.clients-list {
  justify-content: space-around;
}

@media screen and (width <= 1199px) {
  .clients-list {
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (width >= 350px) and (width <= 450px) {
  .clients-list {
    flex-wrap: wrap;
    gap: 5px;
  }
}

.clients-item {
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  min-height: 90px;
  display: flex;
}

.clients-item:hover, .clients-item:focus {
  color: #2196f3;
  border-color: #2196f3;
}

@media screen and (width >= 350px) and (width <= 450px) {
  .clients-item {
    min-width: 150px;
    min-height: 80px;
  }
}

@media screen and (width >= 1200px) {
  .clients-list .clients-item + .clients-item {
    margin-left: 30px;
  }
}

.client-link {
  color: inherit;
  pointer-events: none;
}

.client-item-img {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  align-items: center;
}

@media screen and (width >= 768px) {
  .footer-flex {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    display: flex;
  }
}

@media screen and (width >= 1200px) {
  .footer-flex {
    text-align: start;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@media screen and (width <= 767px) {
  .footer-contacts {
    text-align: center;
  }
}

@media screen and (width <= 1199px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
}

.footer-logo {
  letter-spacing: .78px;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
  display: block;
}

.logo-white {
  color: #fff;
}

.footer-links {
  text-align: left;
}

@media screen and (width <= 767px) {
  .footer-links {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (width >= 768px) and (width <= 1199px) {
  .subscribe {
    align-self: center;
  }
}

.footer-subscribe {
  display: flex;
}

@media screen and (width <= 1199px) {
  .footer-subscribe {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (width <= 767px) {
  .footer-form {
    text-align: center;
  }
}

@media screen and (width >= 768px) and (width <= 1199px) {
  .footer-form {
    text-align: center;
  }
}

.footer-subscribe input[name="mails"] {
  background: #2196f300;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  min-width: 358px;
  margin-right: 12px;
  box-shadow: 0 4px 4px #00000026;
}

@media screen and (width <= 1199px) {
  .footer-subscribe input[name="mails"] {
    min-height: 50px;
    margin-bottom: 20px;
  }
}

.footer-subscribe input[name="mails"]::placeholder {
  color: #ffffff4d;
  letter-spacing: .48px;
  padding-left: 16px;
  line-height: 125%;
}

.invocation {
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 20px;
  padding: 0;
  display: inline-block;
}

.address {
  color: #fff;
  letter-spacing: .42px;
  font-weight: 400;
  line-height: 1.71;
  display: block;
}

.address-link {
  color: #fff;
  letter-spacing: .42px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  display: block;
}

.footer-option {
  color: #fff;
  background-color: #575758;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  display: inline-block;
}

.footer-link {
  color: #fff;
}

.footer-img {
  fill: currentColor;
}

.footer-option:last-child {
  margin-right: 0;
}

.button.order {
  border-color: #0000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn-icon {
  fill: #fff;
  margin-left: 10px;
}

.backdrop {
  opacity: 1;
  background-color: #0003;
  width: 100%;
  height: 100%;
  transition: opacity .25s cubic-bezier(.4, 0, .2, 1);
  position: fixed;
  top: 0;
  left: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%)scale(.9);
}

.modal {
  background-color: #fff;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  transition: transform .25s cubic-bezier(.4, 0, .2, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(1);
}

@media screen and (width <= 1199px) {
  .modal {
    width: 450px;
    top: 55%;
  }
}

.form {
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  display: flex;
  position: relative;
}

@media screen and (width <= 1199px) {
  .form {
    width: 350px;
  }
}

.description {
  margin-bottom: 30px;
  display: inline-block;
}

.form-field {
  flex-direction: column;
  margin-bottom: 28px;
  display: flex;
  position: relative;
}

.form-field input {
  margin: 0;
  padding: 0;
}

.form-input {
  min-height: 40px;
  padding: 0 30px;
}

.form-input:focus {
  padding-left: 30px;
}

.form-input:focus ~ .form-icon {
  fill: #2196f3;
}

.form-input:hover {
  border: 1px solid #2196f3;
}

.form-input:hover ~ .form-icon {
  fill: #2196f3;
}

.form-input:focus + .form-label, .form-input:hover + .form-label {
  color: #2196f3;
  transform: translate(-44%, -370%);
}

@media screen and (width <= 1199px) {
  .form-input:focus + .form-label, .form-input:hover + .form-label {
    transform: translate(-44%, -390%);
  }
}

.form-input:not(:placeholder-shown) + .form-label {
  color: #2196f3;
  transform: translate(-44%, -370%);
}

.form-label {
  transition: transform .25s cubic-bezier(.4, 0, .2, 1);
  transform: translate(-38%, -170%);
}

@media screen and (width <= 1199px) {
  .form-label {
    transform: translate(-36%, -170%);
  }
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-95%);
}

.form-comment {
  resize: none;
}

.form-comment:focus + .form-label, .form-commenthover + .form-label {
  color: #2196f3;
  transform: translate(-44%, -370%);
}

.form-comment:hover + .form-label.comment, .form-comment:focus + .form-label.comment {
  color: #2196f3;
  transform: translate(-40%, -970%);
}

.form-label.comment {
  transform: translate(-41%, -770%);
}

@media screen and (width <= 1199px) {
  .form-label.comment {
    transform: translate(-39%, -740%);
  }
}

.checkbox {
  align-items: center;
  margin-bottom: 30px;
  display: flex;
}

@media screen and (width <= 1199px) {
  .checkbox {
    align-items: center;
  }
}

.checkbox input[type="checkbox"] {
  border-color: #212121;
  width: 16px;
  height: 15px;
  margin-right: 5px;
}

.button-submit {
  margin-left: auto;
  margin-right: auto;
}

.close-btn {
  background-color: #fff;
  border-color: #0000001a;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  display: flex;
  position: absolute;
  top: 8px;
  right: 10px;
}

.close-btn:hover, .close-btn:focus {
  fill: #2196f3;
}

@media screen and (width <= 1199px) {
  .close-btn {
    right: 8px;
  }
}

.checkbox-form {
  appearance: none;
  position: absolute;
}

.checkbox-icon {
  border: 2px solid #212121;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  margin-right: 3px;
  display: inline-block;
}

.checkbox-form:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url("vector-check.44947f43.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
  width: 16px;
  height: 15px;
}

@media screen and (width <= 1199px) {
  .checkbox-text {
    font-size: 12px;
  }
}

.checkbox-link {
  color: #2196f3;
  text-decoration: underline;
}

@media screen and (width <= 1199px) {
  .checkbox-link {
    padding-left: 0;
    font-size: 12px;
  }
}

/*# sourceMappingURL=index.b07a87f3.css.map */
