$main-accent-color: #2196f3;
$main-color: #212121;
$secondary-color: #757575;
$white-color: #ffffff;
$logo-primery-color: #000000;
$header-after: #ececec;
$hero-bcgrd: #2f303acc;
$advantages-bcgrd: #f5f4fa;
$link-color: #afb1b8;
$footer-bcgrd: #2f303a;
$footer-option-bcgrd: #575758;
