.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  // text-align: center;
  background-color: #2f303acc;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url();
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../../../images/jpeg/main/hero/hero_mobile/header_img@2x.jpg);
  }
}

@media screen and (min-width: 468px) {
  .hero {
    max-width: 960px;
    height: 400px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../../../images/jpeg/main/hero/hero_tablet/Header\ img.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url(../../../images/jpeg/main/hero/hero_tablet/Header\ img@2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../../../images/jpeg/main/hero/hero_desktop/Header\ img.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)
        ),
        url(../../../images/jpeg/main/hero/hero_desktop/Header\ img@2x.jpg);
    }
  }
}

.hero > h1 {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;

  @media screen and (max-width: 1199px) {
    font-size: 24px;
  }
}
