.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 600px;
  background-color: $white-color;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1199px) {
    width: 450px;
    top: 55%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;

  @media screen and (max-width: 1199px) {
    width: 450px;
  }
}

.description {
  display: inline-block;
  margin-bottom: 30px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.form-field input {
  margin: 0;
  padding: 0;
}

.form-input {
  min-height: 40px;
  padding: 0 30px;

  &:focus {
    padding-left: 30px;

    & ~ .form-icon {
      fill: $main-accent-color;
    }
  }

  &:hover {
    border: 1px solid $main-accent-color;
  }

  &:hover ~ .form-icon {
    fill: $main-accent-color;
  }

  &:focus + .form-label,
  &:hover + .form-label {
    color: $main-accent-color;
    transform: translate(-44%, -370%);
  }

  &:not(:placeholder-shown) + .form-label {
    color: $main-accent-color;
    transform: translate(-44%, -370%);
  }
}

.form-label {
  transform: translate(-38%, -170%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-95%);
}

.form-comment {
  resize: none;

  &:focus + .form-label,
  &hover + .form-label {
    color: $main-accent-color;
    transform: translate(-44%, -370%);
  }

  &:hover + .form-label.comment,
  &:focus + .form-label.comment {
    color: $main-accent-color;
    transform: translate(-40%, -970%);
  }
}

.form-label.comment {
  transform: translate(-41%, -770%);
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @media screen and (max-width: 1199px) {
    align-items: center;
  }
}

.checkbox input[type="checkbox"] {
  margin-right: 5px;
  width: 16px;
  height: 15px;
  border-color: $main-color;
}

.button-submit {
  margin-left: auto;
  margin-right: auto;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: $white-color;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  &:hover,
  &:focus {
    fill: $main-accent-color;
  }

  @media screen and (max-width: 1199px) {
    right: 8px;
  }
}

.checkbox-form {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 10px;
  border: 2px solid $main-color;
  border-radius: 2px;
  margin-right: 3px;
}

.checkbox-form:checked + .checkbox-icon {
  width: 16px;
  height: 15px;
  background-origin: border-box;
  border-color: $main-accent-color;
  background-color: $main-accent-color;
  background-image: url("../../images/svg/vector-check.svg");
  background-size: contain;
}

.checkbox-text {
  @media screen and (max-width: 1199px) {
    font-size: 12px;
  }
}

.checkbox-link {
  color: $main-accent-color;
  text-decoration: underline;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    padding-left: 0px;
  }
}
