<section class=" advantages paddings">
    <div class="container">
        <h2 class="visually-hidden">advantages</h2>
        <ul class="advantages-list ">
            <li class="advantages-item details">
                <div class="advantages-item-img">
                    <svg width="70" height="70">
                        <use href="./images/svg/symbol-defs.svg#icon-antenna"></use>
                    </svg>
                </div>
                <h3 class="advantages-header">Attention to details</h3>
                <p class="advantages-description">Ideological considerations, as well as the beginning of
                    the
                    day-to-day work of developing a
                    position.</p>
            </li>
            <li class="advantages-item details">
                <div class="advantages-item-img">
                    <svg width="70" height="70">
                        <use href="./images/svg/symbol-defs.svg#icon-clock"></use>
                    </svg>
                </div>
                <h3 class="advantages-header">Punctuality</h3>
                <p class="advantages-description">The task of the organization, especially the scope and
                    place
                    of staff training entails.</p>
            </li>
            <li class="advantages-item details">
                <div class="advantages-item-img">
                    <svg width="70" height="70">
                        <use href="./images/svg/symbol-defs.svg#icon-diagram"></use>
                    </svg>
                </div>
                <h3 class="advantages-header">Planning</h3>
                <p class="advantages-description">Equally, consultation with a broad asset is largely
                    conditional.</p>
            </li>
            <li class="advantages-item details">
                <div class="advantages-item-img">
                    <svg width="70" height="70">
                        <use href="./images/svg/symbol-defs.svg#icon-astronaut"></use>
                    </svg>
                </div>
                <h3 class="advantages-header">Modern technologies</h3>
                <p class="advantages-description marg">The significance of these problems is so obvious that
                    the
                    realization of planned tasks.</p>
            </li>
        </ul>
    </div>
</section>