<section class="clients paddings">
    <div class="container">
        <h2 class="clients-header">Our clients</h2>
        <ul class="clients-list">
            <li class="clients-item">
                <a class="client-link" href="">
                    <svg class="client-item-img" src="./images/svg/clients/logo1.svg" alt="client's 1 logo"
                        width="44.27" height="49.227">
                        <use href="./images/svg/symbol-defs.svg#icon-logo1">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="clients-item">
                <a class="client-link" href="">
                    <svg class="client-item-img" src="./images/svg/clients/logo1.svg" alt="client's 2 logo" width="40"
                        height="52">
                        <use href="./images/svg/symbol-defs.svg#icon-logo2"></use>
                    </svg>
                </a>
            </li>
            <li class="clients-item">
                <a class="client-link" href="">
                    <svg class="client-item-img" src="./images/svg/clients/logo1.svg" alt="client's 3 logo" width="40"
                        height="52">
                        <use href="./images/svg/symbol-defs.svg#icon-logo3"></use>
                    </svg></a>
            </li>
            <li class="clients-item">
                <a class="client-link" href="">
                    <svg class="client-item-img" src="./images/svg/clients/logo1.svg" alt="client's 4 logo" width="79.7"
                        height="42">
                        <use href="./images/svg/symbol-defs.svg#icon-logo4"></use>
                    </svg>
                </a>
            </li>
            <li class="clients-item">
                <a class="client-link" href="" class="client-link">
                    <svg class="client-item-img" src="./images/svg/clients/logo1.svg" alt="client's 5 logo" width="59"
                        height="47">
                        <use href="./images/svg/symbol-defs.svg#icon-logo5"></use>
                    </svg>
                </a>
            </li>
            <li class="clients-item">
                <a class="client-link" href="">
                    <svg class="client-item-img" src="./images/svg/clients/logo1.svg" alt="client's 6 logo" width="79.7"
                        height="42">
                        <use href="./images/svg/symbol-defs.svg#icon-logo6"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>