<section class="team paddings">
    <div class="container">
        <h2 class="team-header">Our team</h2>
        <ul class="team-list ">
            <li class="team-item">
                <picture>
                    <source srcset="./images/jpeg/main/team/mobile/NK_mobile/NK_img.jpg 1x,
                                            ./images/jpeg/main/team/mobile/NK_mobile/NK_img@2x.jpg 2x"
                        media="(max-width: 767px)" />
                    <source srcset="
                                                    ./images/jpeg/main/team/tablet/NK_tablet/NK_img.jpg   1x,
                                                    ./images/jpeg/main/team/tablet/NK_tablet/NKimg@2x.jpg 2x
                                                      " media="(max-width: 1199px)" />
                    <source srcset="
                                                    ./images/jpeg/main/team/desktop/NK_desktop/NK_img.jpg   1x,
                                                    ./images/jpeg/main/team/desktop/NK_desktop/NK_img@2x.jpg 2x
                                                      " media="(min-width: 1200px)" />
                    <img class="item-logo" src="./images/jpeg/main/team/mobile/NK_mobile/NK_img.jpg"
                        alt="Nick Kucherenko" />
                </picture>
                <h3 class="team-member">Nick Kucherenko</h3>
                <p class="member-position">Product Designer</p>
                <ul class="team-item-social ">
                    <li class="team-item-option">
                        <a href="https://www.instagram.com/" aria-label="instagram" class="team-item-link">
                            <div width="44" height="44">
                                <svg class="link-img" width="20" height="20">
                                    <use href="./images/svg/symbol-defs.svg#icon-insta"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="team-item-option">
                        <a href="https://twitter.com/" aria-label="twitter" class="team-item-link">
                            <div width="44" height="44">
                                <svg class="link-img" width="20" height="20">
                                    <use href="./images/svg/symbol-defs.svg#icon-twitter"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="team-item-option">
                        <a href="https://www.facebook.com/" aria-label="facebook" class="team-item-link">
                            <div width="44" height="44">
                                <svg class="link-img" width="20" height="20">
                                    <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="team-item-option">
                        <a href="https://www.linkedin.com/feed/" aria-label="linkedIn" class="team-item-link">
                            <div width="44" height="44">
                                <svg class="link-img" width="20" height="20">
                                    <use href="./images/svg/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="team-item">
                <picture>
                    <source srcset="
                        ./images/jpeg/main/team/mobile/OI_mobile/OI_img.jpg 1x,
                        ./images/jpeg/main/team/mobile/OI_mobile/OI_img@2x.jpg 2x   
                                " media="(max-width: 767px)" />
                    <source srcset="
                            ./images/jpeg/main/team/tablet/OI_tablet/OI_img.jpg   1x,
                            ./images/jpeg/main/team/tablet/OI_tablet/OI_img@2x.jpg 2x
                              " media="(max-width: 1199px)" />
                    <source srcset="
                            ./images/jpeg/main/team/desktop/OI_desktop/OI_img.jpg   1x,
                            ./images/jpeg/main/team/desktop/OI_desktop/OI_img@2x.jpg 2x
                              " media="(min-width: 1200px)" />
                    <img class="item-logo" src="./images/jpeg/main/team/mobile/OI_mobile/OI_img.jpg"
                        alt="Olha Ivanchenko" />
                </picture>
                <h3 class="team-member">Olha Ivanchenko</h3>
                <p class="member-position">Frontend Developer</p>
                <ul class="team-item-social ">
                    <li class="team-item-option">
                        <a href="https://www.instagram.com/" aria-label="instagram" class="team-item-link">
                            <div width="44" height="44">
                                <svg class="link-img" width="20" height="20">
                                    <use href="./images/svg/symbol-defs.svg#icon-insta"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="team-item-option">
                        <a href="https://twitter.com/" aria-label="twitter" class="team-item-link">
                            <div width="44" height="44">
                                <svg class="link-img" width="20" height="20">
                                    <use href="./images/svg/symbol-defs.svg#icon-twitter"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="team-item-option">
                        <a href="https://www.facebook.com/" aria-label="facebook" class="team-item-link">
                            <div width="44" height="44">
                                <svg class="link-img" width="20" height="20">
                                    <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="team-item-option">
                        <a href="https://www.linkedin.com/feed/" aria-label="linkedIn" class="team-item-link">
                            <div width="44" height="44">
                                <svg class="link-img" width="20" height="20">
                                    <use href="./images/svg/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="team-item">
                <picture>
                    <source srcset="
                        ./images/jpeg/main/team/mobile/AS_mobile/AS_img.jpg 1x,
                        ./images/jpeg/main/team/mobile/AS_mobile/AS_img@2x.jpg 2x   
                                " media="(max-width: 767px)" />
                    <source srcset="
                            ./images/jpeg/main/team/tablet/AS_tablet/AS_img.jpg   1x,
                            ./images/jpeg/main/team/tablet/AS_tablet/AS_img@2x.jpg 2x
                              " media="(max-width: 1199px)" />
                    <source srcset="
                            ./images/jpeg/main/team/desktop/AS_desktop/AS_img.jpg   1x,
                            ./images/jpeg/main/team/desktop/AS_desktop/AS_img@2x.jpg 2x
                              " media="(min-width: 1200px)" />
                    <img class="item-logo" src="./images/jpeg/main/team/mobile/AS_mobile/AS_img.jpg"
                        alt="Andrew Shcevchenko photo" />
                </picture>
                <h3 class="team-member">Andrew Shcevchenko</h3>
                <p class="member-position">Marketing</p>
                <ul class="team-item-social">
                    <li class="team-item-option">
                        <a href="https://www.instagram.com/" aria-label="instagram" class="team-item-link">
                            <div width="44" height="44">
                                <svg class="link-img" width="20" height="20">
                                    <use href="./images/svg/symbol-defs.svg#icon-insta"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="team-item-option">
                        <a href="https://twitter.com/" aria-label="twitter" class="team-item-link">
                            <div width="44" height="44">
                                <svg class="link-img" width="20" height="20">
                                    <use href="./images/svg/symbol-defs.svg#icon-twitter"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="team-item-option">
                        <a href="https://www.facebook.com/" aria-label="facebook" class="team-item-link">
                            <div width="44" height="44">
                                <svg class="link-img" width="20" height="20">
                                    <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="team-item-option">
                        <a href="https://www.linkedin.com/feed/" aria-label="linkedIn" class="team-item-link">
                            <div width="44" height="44">
                                <svg class="link-img" width="20" height="20">
                                    <use href="./images/svg/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="team-item">
                <picture>
                    <source srcset="
                                                ./images/jpeg/main/team/mobile/IN_mobile/IN_img.jpg 1x,
                                                ./images/jpeg/main/team/mobile/IN_mobile/IN_img@2x.jpg 2x   
                                                    " media="(max-width: 767px)" />
                    <source srcset="
                                                ./images/jpeg/main/team/tablet/IN_tablet/IN_img.jpg   1x,
                                                ./images/jpeg/main/team/tablet/IN_tablet/IN_img@2x.jpg 2x
                                                  " media="(max-width: 1199px)" />
                    <source srcset="
                                                ./images/jpeg/main/team/desktop/IN_desktop/IN_img.jpg   1x,
                                                ./images/jpeg/main/team/desktop/IN_desktop/IN_img@2x.jpg 2x
                                                  " media="(min-width: 1200px)" />
                    <img class="item-logo" src="./images/jpeg/main/team/mobile/IN_mobile/IN_img.jpg"
                        alt="Ivan's photo" />
                </picture>
                <h3 class="team-member">Ivan Nikolaenko</h3>
                <p class="member-position ">UI Designer</p>
                <ul class="team-item-social">
                    <li class="team-item-option">
                        <a href="https://www.instagram.com/" aria-label="instagram" class="team-item-link">
                            <div width="44" height="44">
                                <svg class="link-img" width="20" height="20">
                                    <use href="./images/svg/symbol-defs.svg#icon-insta"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="team-item-option">
                        <a href="https://twitter.com/" aria-label="twitter" class="team-item-link">
                            <div width="44" height="44">
                                <svg class="link-img" width="20" height="20">
                                    <use href="./images/svg/symbol-defs.svg#icon-twitter"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="team-item-option">
                        <a href="https://www.facebook.com/" aria-label="facebook" class="team-item-link">
                            <div width="44" height="44">
                                <svg class="link-img" width="20" height="20">
                                    <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="team-item-option">
                        <a href="https://www.linkedin.com/feed/" aria-label="linkedIn" class="team-item-link">
                            <div width="44" height="44">
                                <svg class="link-img" width="20" height="20">
                                    <use href="./images/svg/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>