<footer class="footer">
    <div class="container footer-flex">
        <div class="footer-contacts">
            <a href="./index.html" class="logo footer-logo">
                <span class="logo-accent">Web</span>
                <span class="logo-white">Studio</span>
            </a>
            <address class="address">
                <a class="address-link" href="">F93W1HP, Castlefin, co Donegal, Ireland</a>
                <a class="address-link" href="mailto:olgaigpavlenko@gmail.com">olgaigpavlenko@gmail.com</a>
                <a class="address-link" href="tel:+383857362557">+383 85 736 2557</a>
            </address>
        </div>

        <div class="footer-links">
            <b class="invocation">Join</b>
            <ul class="team-item-social ">
                <li class="footer-option">
                    <a href="https://www.instagram.com/" aria-label="instagram" class="team-item-link footer-link">
                        <div>
                            <svg class="link-img footer-img" width="20" height="20">
                                <use href="./images/svg/symbol-defs.svg#icon-insta"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="footer-option">
                    <a href="https://twitter.com/" aria-label="twitter" class="team-item-link footer-link">
                        <div>
                            <svg class="link-img footer-img" width="20" height="20">
                                <use href="./images/svg/symbol-defs.svg#icon-twitter"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="footer-option">
                    <a href="https://www.facebook.com/" aria-label="facebook" class="team-item-link footer-link">
                        <div>
                            <svg class="link-img footer-img" width="20" height="20">
                                <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="footer-option">
                    <a href="https://www.linkedin.com/feed/" aria-label="linkedIn" class="team-item-link footer-link">
                        <div>
                            <svg class="link-img footer-img" width="20" height="20">
                                <use href="./images/svg/symbol-defs.svg#icon-linkedin"></use>
                            </svg>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="subscribe">
            <form class="footer-form">
                <b class="invocation">Sign up for the newsletter</b>
                <div class="footer-subscribe">
                    <input type="text" name="mails" placeholder="E-mail" />
                    <label for="mail"></label>
                    <div class="button-submit">
                        <button type="submit" class="button order">Submit
                            <svg class="btn-icon" height="18" width="18">
                                <use href="./images/svg/symbol-defs-form.svg#icon-send"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</footer>