<header class="header">
    <div class="container">
        <nav class="header-navigation">
            <a class="header-logo" href="./index.html" class="logo">
                <span class="logo-accent">Web</span>
                <span class="logo-black">Studio</span>
            </a>
            <div class="menu-container " id="menu-container" data-menu>
                <ul class="header-links ">
                    <li class="link-item">
                        <a class="link" href="./index.html">Studio</a>
                    </li>
                    <!-- <li class="link-item">
                        <a class="link" href="./portfolio.html">Portfolio</a>
                    </li>
                    <li class="link-item">
                        <a class="link" href="./contacts.html">Contacts</a>
                    </li> -->
                </ul>

                <ul class="header-contacts">
                    <li class="contact-link">
                        <a class="link-option" href="mailto:olgaigpavlenko@gmail.com" aria-label="mail">
                            <svg width="16" height="11" class="contact-link-img">
                                <use href="./images/svg/symbol-defs.svg#icon-envelope"></use>
                            </svg>
                            olgaigpavlenko@gmail.com
                        </a>
                    </li>
                    <li class="contact-link">
                        <a class="link-option" href="tel:+383857362557" class="header-contact phone"
                            aria-label="phone"><svg width="10" height="15" class="contact-link-img">
                                <use href="./images/svg/symbol-defs.svg#icon-smartphone"></use>
                            </svg>+383 85 736 2557</a>
                    </li>
                </ul>
            </div>
            <button class="menu-button" aria-expanded="false" aria-controls="menu-container" data-menu-button>
                <svg class="icon-btn" width="40" height="40" aria-label="mobile menu switcher">
                    <use class="icon-burger" href="./images/svg/symbol-defs-menu.svg#icon-menu-burger"></use>
                    <use class="icon-cross" href="./images/svg/symbol-defs-menu.svg#icon-close-burger"></use>
                </svg>
            </button>
        </nav>
    </div>
</header>