<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <form class="form" autocomplete="off">
            <b class="description">Leave your details and we will call you back</b>

            <div class="form-field">
                <input type="text" class="form-input" name="name" id="name" placeholder=" " required />
                <label class="form-label" for="name">Name</label>
                <svg class="form-icon" height="18" width="18">
                    <use class="form-img" href="./images/svg/symbol-defs-form.svg#icon-person"></use>
                </svg>
            </div>

            <div class="form-field">
                <input type="tel" class="form-input" name="tel" id="tel" placeholder=" " required />
                <label class="form-label" for="tel">Phone</label>
                <svg class="form-icon" height="18" width="18">
                    <use href="./images/svg/symbol-defs-form.svg#icon-phone-black"></use>
                </svg>
            </div>

            <div class="form-field">
                <input type="email" class="form-input" name="mail" id="mail" placeholder=" " required />
                <label class="form-label" for="mail">Mail</label>
                <svg class="form-icon" height="18" width="18">
                    <use href="./images/svg/symbol-defs-form.svg#icon-email-black"></use>
                </svg>
            </div>

            <div class="form-field comment">
                <textarea class="form-comment" name="comment" id="comment" rows="8" placeholder=" "></textarea>
                <label class="form-label comment" for="comment">Comment</label>
            </div>

            <label class="checkbox" for="policy">
                <input class="checkbox-form" value="accept-policy" type="checkbox" name="policy" id="policy" required />
                <span class="checkbox-icon"></span>
                <span class="checkbox-text">I accept <a class="checkbox-link" href="./index.html">Contract terms and
                        conditions</a></span>

            </label>

            <div class="button-submit">
                <button type="submit" class="button order">Submit</button>
            </div>

            <button class="close-btn" type="button" onclick="ref.classList.add('is-hidden');">
                <svg class="" height="18" width="18">
                    <use href="./images/svg/symbol-defs-form.svg#icon-close-black"></use>
                </svg>
            </button>
        </form>
    </div>
</div>